<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row mb-3">
  <div class="nine columns left">
    <a href="<%- url_for(post.path) %>">
      <% if (post.title == "") { %>
      no title
      <% } else { %>
      <%- post.title %>
      <% } %>
    </a>
  </div>
  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'YY-MM-DD') %></p>
  </div>
</div>
<% }) %>

<h4> <a href="<%= config.root %>archives">查看全部</a></h4>