  <hr>
  <div id="vcomments" style="margin-top: 50px;"></div>
  <script src='/js/Valine.min.js'></script>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '2RPLQGvxicb06F127wr1yjsM-9Nh9j0Va',
      appKey: 'GOiYet2qQ4iPWbC93HrgFmpc',
      visitor: true,
      placeholder: "发表下你的看法吧"
    })
  </script>